$background-primary: #728eea;

.v-btn {
  background: $background-primary !important;
  color: whitesmoke !important;
}

#root.v-btn {
  background: $background-primary !important;
  color: whitesmoke !important;
}